::before,
::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Galada", cursive;
  font-size: 3.5rem;
  letter-spacing: 6px;
  text-align: start;
  margin: 0.2em 0 0 0.5em;
  text-shadow: -2px -2px 0 rgb(161, 105, 0), 2px -2px 0 rgb(161, 105, 0),
    -2px 2px 0 rgb(161, 105, 0), 2px 2px 0 rgb(161, 105, 0);
}

h2,
button,
label {
  color: #003031;
  font-family: "Roboto Mono", monospace;
}

label {
  font-size: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  flex: 1;
  background: linear-gradient(45deg, #a8dede, #ccefef);
}

header,
footer {
  background-color: #0f4e63;
  text-align: center;
  padding: 0.5em;
  color: white;
}

footer {
  font-family: "Roboto Mono", monospace;
  padding: 1.2em;
}

.setup-heading {
  margin-top: 2em;
  font-size: 2.5rem;
}

.setup-instructions {
  color: #003031;
  font-size: 1.3rem;
  font-family: "Roboto Mono", monospace;
  margin: 0 1em;
}

.setup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.setup-inputs {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
}

.boardOption-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.boardOption-label:hover {
  cursor: pointer;
}

.active {
  border: 5px solid #0f4e63;
  border-radius: 20px;
}

.Outcome {
  background-color: #edfbfb;
  border: 2px solid #98c9c9;
  border-radius: 10px;
  padding: 0.3em 1em;
}

.winner {
  border: 5px solid rgb(33, 204, 33);
}

.draw {
  background-color: rgb(255, 194, 81);
}

.Board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.Square {
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 10px;
  font-size: 3rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.x-turn:hover {
  cursor: url("./assets/xChecker.png"), auto;
}

.o-turn:hover {
  cursor: url("./assets/oChecker.png"), auto;
}

.winning-square {
  border: 10px solid #0f4e63;
  background-color: #fafaa3;
}

.buttons {
  background-color: #e7a4d4;
  font-size: 1.5rem;
  padding: 0.2em 1em;
  border-radius: 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 1em;
  cursor: pointer;
}

.buttons:hover {
  background-color: #b5be7c;
}

/********** MEDIA QUERY **********/
@media (max-width: 1000px) {
  h1 {
    font-size: 3rem;
    margin-left: 0.5em;
  }
  .setup-heading {
    margin-top: 1em;
    font-size: 2rem;
  }

  .setup-instructions {
    color: #003031;
    font-size: 1.1rem;
  }

  .setup-inputs {
    gap: 1em;
    flex-wrap: wrap;
  }

  .boardOption-label {
    padding: 0.5em;
  }

  .Square {
    height: 80px;
    width: 80px;
    font-size: 2.5rem;
  }

  .x-turn:hover {
    cursor: url("./assets/xCheckerSmall.png"), auto;
  }

  .o-turn:hover {
    cursor: url("./assets/oCheckerSmall.png"), auto;
  }
}

/********** MEDIA QUERY **********/
@media (max-width: 630px) {
  .Square {
    height: 65px;
    width: 65px;
    font-size: 2rem;
  }

  .winning-square {
    border: 5px solid #0f4e63;
  }
}

/********** MEDIA QUERY **********/
@media (max-width: 500px) {
  .Square {
    height: 48px;
    width: 48px;
    font-size: 1.7rem;
  }

  .x-turn:hover {
    cursor: url("./assets/xCheckerXS.png"), auto;
  }

  .o-turn:hover {
    cursor: url("./assets/oCheckerXS.png"), auto;
  }
}
